<form #nameForm="ngForm" (ngSubmit)=addName(nameForm)>
  <label>Enter your name</label>
  <input type="text" ngModel name="name">
  <button>Enter</button>
</form>

<section class = "questionForm">

<form #questionForm="ngForm" (ngSubmit)="submitResult(questionForm)" >
  <div *ngFor="let list of questionList;index as i">
  <p>{{list.question}}</p>
  
  <input type="radio" name="list{{i+1}}"  ngModel (click)="onSelection(list.choice_1, list.answer,i)"  value="{{list.choice_1}}" >
  <label>{{list.choice_1}}</label>

  <input type="radio" name="list{{i+1}}"   ngModel (click)="onSelection(list.choice_2, list.answer,i)" value="{{list.choice_2}}" >
  <label> {{list.choice_2}}</label>

  <input type="radio" name="list{{i+1}}"   ngModel (click)="onSelection(list.choice_3, list.answer,i)" value="{{list.choice_3}}" >
  <label> {{list.choice_3}}</label>
  
  <input type="radio" name="list{{i+1}}"   ngModel (click)="onSelection(list.choice_4, list.answer,i)" value="{{list.choice_4}}" >
  <label>{{list.choice_4}}</label>
</div>
<button>Submit</button>
</form>
</section>

